@use "../../styles/variables" as *;

.topStyling {
    width: 15%;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 999;
    filter: invert(100%);

    @media (min-width: 1440px) {
        width: 5%;
    }

    &.lightMode {
        filter: invert(0%);
    }
}