@use "../../styles/variables" as *;

.wrapperStyling {
    display: block;
    overflow-x: hidden;
    
    &.darkMode {
        background: $dark-color;
    }

    &.lightMode {
        background: $white-color;
    }
}