@use "../../../styles/mixins" as m;

.iconStyling {
    @include m.flexBox(row, center, center 0.3rem);

    img {
        width: 6%;
        filter: invert(100%);
    }

    &.lightbulb {
        margin-left: -68%;
        padding-bottom: 1rem;

        &.lightMode {
            filter: invert(100%);
        }
    }

    &.small {
        img {
            width: 5%;
        }
    }
}