@use "../../../../styles/mixins" as m;
@use "../../../../styles/variables" as *;
@use "../../../../styles/placeholders";

.eventStyling {
    @include m.flexBox(column, center, center, 4rem);
    margin-top: 10.5rem;

    @media (min-width: 1440px) {
        margin-top: 13.5rem;
    }

   .event {
    color: $white-color;
    margin-right: 2.8rem;

    @media (min-width: 1440px) {
        &:nth-child(even) {
            margin-right: -50rem;

            header {
                margin-right: 2rem;
                h4 {
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }

    &.lightMode {
        color: $dark-color;

        footer {
            img {
                filter: none;
            }
            
            a {
                color: $dark-color;
            }
        }
    }

    header {
        h4 {
            @extend %headerfont;
            text-align: right;
            margin-left: 6rem;
        }
    }
    p {
        width: 150px;
        @extend %breadtextfont;
    }

    footer {
        @include m.flexBox(row, center, center, 0.5rem);
        text-align: right;

        img {
            width: 90%;
        }

        a {
            @extend %headerfont;
            color: $white-color;
            font-weight: 300;
            font-size: 15px;
        }
    }
   }
}