@use "../../../../styles/mixins" as m;
@use "../../../../styles/variables" as *;
@use "../../../../styles/placeholders";

.eventStyling {
    @include m.flexBox(column, center, center, 4rem);
   margin-top: 10.5rem;

   .event {
    color: $white-color;
    margin-right: 2.8rem;

    header {
        h4 {
            @extend %headerfont;
            text-align: right;
            margin-left: 6rem;
        }
    }
    p {
        width: 150px;
        @extend %breadtextfont;
    }

    footer {
        @include m.flexBox(row, center, center, 0.5rem);
        text-align: right;

        img {
            width: 90%;
        }

        a {
            @extend %headerfont;
            color: $white-color;
            font-weight: 300;
            font-size: 15px;
        }
    }
   }
}