@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as *;
@use "../../../styles/placeholders";

.boardStyling {
    display: block;
    position: relative;
    width: 80vw;
    height: 200px;
    background: $dark-color;
    border: 12px solid $dark-brown;
    top: 24%;
    left: 50%;
    transform: translate(-50%);

    @media (min-width: 1440px) {
        width: 36vw;
        top: 57%;
        padding-bottom: 1.5rem;
    }

    &.darkMode {
        @extend .boardStyling;
    }

    &.lightMode {
        background: $white-color;
        border: 12px solid #1f1f1f77;

        header {

           .selectStyling {
            .buttonStyling {
               color: $tan-brown;
            }
           }

            h2, p {
                color: $dark-brown;
            }
        }
    }

    header {

        .selectStyling {
            @include m.flexBox(row, center, center, 0.5rem);
            
            .buttonStyling {
                color: $gray-brown;
                background: transparent;
                border: 0;
                @extend %headerfont;
                font-size: 30px;
                text-decoration: underline;
                color: $light-brown;

                &:hover {
                    cursor: pointer;
                }

                @media (min-width: 1440px) {
                    font-size: 40px;
                    margin-top: 2.7rem;
                }
            }
        }
        h2 {
            color: $gray-brown;
            @extend %headerfont;
            font-size: 35px;
            text-align: center;

            @media (min-width: 1440px) {
                font-size: 50px;
                margin-bottom: 0;
            }
        }

        p {
            color: $gray-brown;
            @extend %breadtextfont;
            text-align: center;
            width: 270px;
            padding-left: 0.5rem;

            @media (min-width: 1440px) {
                width: 350px;
                margin-left: 8rem;
                font-size: 20px;
            }
        }
    }

}