@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as *;

.timelineStyling {
    @include m.flexBox(row-reverse, flex-start, flex-start);
    height: 100%;

    @media (min-width: 1440px) {
        justify-content: center;
        margin-right: 9rem;
    }

    .lineContainer {
        @include m.flexBox(column, center, flex-end, 1rem);
        position: relative;
        height: 100%;

        
        .circleStyling {
            display: block;
            width: 62px;
            height: 62px;
            border-radius: 50%;
            background: $light-brown;
            margin-right: 3.2rem;
            margin-bottom: -1rem;
        }

        .timelineContainer {
            display: block;
            height: 100%;

            .lineStyling {
                display: block;
                border-left: 6px solid $light-brown;
                height: 100vh;
                width: 20px;
                margin-right: 3.65rem;
            }
        }
        .pointContainer {
            @include m.flexBox(row, center, center, 0rem);

            @media (min-width: 1440px) {
                &:nth-child(even) {
                    flex-direction: row-reverse;
                    position: relative;
                    left: 71%;
                }
            }

            .pointStyling {
                display: block;
                width: 31px;
                height: 31px;
                border-radius: 50%;
                background: $dark-color;
                border: 5px solid $light-brown;
            }
        }
    }
    
}