@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as *;

.timelineStyling {
    @include m.flexBox(row-reverse, flex-start, flex-start);
    height: 100%;

    @media (min-width: 1440px) {
        justify-content: center;
        margin-right: 9rem;
    }

    .lineContainer {
        @include m.flexBox(column, center, flex-end, 1rem);
        position: relative;
        height: 100%;

        &.lightMode {
            .circleStyling {
                background: $tan-brown;
            }

            .lineStyling {
                border-left: 6px solid $tan-brown;
            }
        }

        
        .circleStyling {
            display: block;
            width: 62px;
            height: 62px;
            border-radius: 50%;
            background: $light-brown;
            margin-right: 3.2rem;
            margin-bottom: -1rem;
        }

        .lineStyling {
            display: block;
            border-left: 6px solid $light-brown;
            height: 100vh;
            width: 20px;
            margin-right: 3.65rem;
        }
    }
    
}