.headerStyling {
    display: block;
    background-image: url("../../assets/images/headerImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 99vw;
    height: 60vh;

    @media (min-width: 1440px) {
        width: 98.9vw;
    }
}