@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.overlayStyling {
    display: block;
    width: 100vw;
    height: 100vh;
    background: #1c1c1c72;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.modalStyling {
    @include m.flexBox(column, center, center);
    width: 80vw;
    height: 20vh;
    border: 5px solid $dark-brown;
    background: $dark-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: $white-color;
    text-align: center;
    padding: 6rem 0rem;

    @media (min-width: 1440px) {
        width: 40vw;
    }

    h3 {
        @extend %headerfont;
    }

    h3, p {
        margin: 0;
    }

    p {
        @extend %breadtextfont;
        font-size: 18px;
    }

    label {
        @extend %breadtextfont;
        font-size: 20px;
    }

    input {
        border-radius: 5px;
        border: 0;
        text-align: center;
        padding: 0.3rem 0.5rem;
    }

    button {
        border: 0;
        background: $tan-brown;
        padding: 0.7rem 1.7rem;
        @extend %breadtextfont;
        font-size: 16px;
        border-radius: 9px;

        &:hover {
            scale: 1.1;
            cursor: pointer;
        }
    }
}